html,
body {
  margin: 0;
  padding: 0;
}

.MainPageAnimation {
  animation-name: slideIn;
  animation-duration: 1.5s;
}

@keyframes slideIn {
  from {
    margin-top: 50px;
    opacity: 0.5;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
